<!-- header for ng-content -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Content for Modal ng-content-->
<ion-content>
  <div>
    <ion-list>
      <ion-list-header>
        Select {{title}}
      </ion-list-header>
      <ion-item *ngFor="let item of items | sortBy:'name'">
        <ion-label>{{item.name}}</ion-label>
        <ion-checkbox (ionChange)="toggle(item.id, item.name)" [checked]="selectedItems[item.id] ? true : false"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only color="white" (click)="openPrompt()">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="submit()">
        <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
