<modal>
  <!-- header for ng-content -->
  <ion-header>
    <ion-navbar color="primary">
      <ion-buttons start>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        Craving
      </ion-title>
    </ion-navbar>
  </ion-header>

  <!-- content for ng-content -->
  <ion-content>
    <ion-list *ngIf="!editing">
       <date-switch-divider
        *ngIf="craving.id"
        [date]="craving.cravingDate + 'T' + craving.cravingTime"
        [time]="true"
        (onDateDecrement)="previousCraving($event)"
        (onDateIncrement)="nextCraving($event)"
      ></date-switch-divider>
      <ion-list-header>
        Craving Timing
      </ion-list-header>
      <ion-item>
        <ion-icon ios="ios-restaurant" md="md-restaurant" item-start color="secondary"></ion-icon>
        <h4 *ngIf="craving.cravingDate">{{craving.cravingDate | date:'EEEE, MMM d'}}</h4>
        <p *ngIf="craving.cravingDate && craving.cravingTime">{{(craving.cravingDate + 'T' + craving.cravingTime) | time}}</p>
      </ion-item>
    </ion-list>
    <log-view-section
      *ngIf="!editing"
      title="Craving Log"
      [progressData1]="{ title: 'Mental Hunger', description: craving.intensityLevel | cravingsRange, max: 4, current: craving.intensityLevel}"
      [progressData2]="{ title: 'Physical Hunger', description: craving.hungerLevel | hungerRange, max: 5, current: craving.hungerLevel}"
      [emotions]="craving.emotions"
      [foods]="craving.foods"
      descriptionTitle="Trigger Description"
      [description]="craving.triggerDescription"
    ></log-view-section>
    <before-form-content
      *ngIf="editing"
      [emotionsBehaviorSubject]="logService.getBeforeItemsBehaviorSubjects().selectedBeforeEmotions"
      [foodsBehaviorSubject]="logService.getBeforeItemsBehaviorSubjects().selectedBeforeFoods"
      [date]="form.date"
      [time]="form.time"
      [intensityLevel]="form.intensityLevel"
      [hungerLevelBefore]="form.hungerLevelBefore"
      [triggerDescription]="form.triggerDescription"
      [showMealType]="false"
      (onFormItemChange)="onCravingItemChange($event)"
    ></before-form-content>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons end>
        <button ion-button icon-only (click)="submitCravingChanges()" *ngIf="editing">
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
        </button>
        <button ion-button (click)="toggleEditView()" *ngIf="!editing">
          Edit
        </button>
      </ion-buttons>
      <ion-buttons start>
        <button ion-button icon-only (click)="triggerCravingDeletePrompt()" *ngIf="!editing">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        </button>
        <button ion-button (click)="cancelCravingChanges()" *ngIf="editing">
          Cancel
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</modal>
