page-about {

  p, ion-note {
    color: color($colors, light) !important;
  }

  h2 {
    color: color($colors, dark) !important;
  }

  ion-note {
    font-size: 14px;
    align-self: flex-start;
    margin-top: 14px !important;
  }

  ion-item-divider {
    .search-filter {
      padding: 0;
      min-height: 0;
      border: .55px color($colors, secondary) solid;
      border-radius: 5px;
    }

  }
}
