page-before-form {

  ion-range {
    ion-label {
      color: color($colors, dark);
    }
  }

  ion-note {
    color: color($colors, secondary) !important;
  }

  ion-textarea {
    height: 200px !important;
  }

  // ion-segment {
  //   width: 75%;
  //   margin: 0 auto;
  // }
}
