<ion-header>
  <ion-navbar color="primary">
    <ion-title>Diary</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="listingType" color="white" (ionChange)="isMeal = !isMeal">
      <ion-segment-button value="craving">Cravings</ion-segment-button>
      <ion-segment-button value="meal">Meals</ion-segment-button>
    </ion-segment>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon ios="ios-share" md="md-share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <date-switch-divider
      [date]="date.toISOString() | date: 'MMMM, yyyy'"
      (onDateDecrement)="selectPreviousMonth($event)"
      (onDateIncrement)="selectNextMonth($event)"
    ></date-switch-divider>
    <ng-container *ngIf="isMeal">
      <ion-item-group *ngFor="let entries of (meals | sortArraysByDate:'mealDate').reverse()" >
        <ion-list-header>
        {{(entries[0].mealDate + 'T' + entries[0].mealTime) | date:'EEEE, MMM d'}}
        </ion-list-header>
        <ion-item detail-push (click)="openMealLog(meal.id)" *ngFor="let meal of entries | sortArrayEntriesByTime:'mealTime'">
          <h2>{{(meal.mealDate + 'T' + meal.mealTime) | date:'h:mm a'}}</h2>
          <p *ngIf="meal.mealType">{{meal.mealType}}</p>
          <ion-note *ngIf="meal.completed === 0">Before Log Only</ion-note>
          <ion-note *ngIf="meal.completed === 1">Completed Log</ion-note>
        </ion-item>
      </ion-item-group>
    </ng-container>
    <ng-container *ngIf="!isMeal">
      <ion-item-group *ngFor="let entries of (cravings | sortArraysByDate:'cravingDate').reverse()" >
        <ion-list-header>
        {{(entries[0].cravingDate + 'T' + entries[0].cravingTime) | date:'EEEE, MMM d'}}
        </ion-list-header>
        <ion-item detail-push *ngFor="let craving of entries | sortArrayEntriesByTime:'cravingTime'" (click)="openCravingLog(craving.id)">
          <h2>{{(craving.cravingDate + 'T' + craving.cravingTime) | date:'h:mm a'}}</h2>
          <p>Craving Intensity: {{craving.intensityLevel | cravingsRange}}</p>
        </ion-item>
      </ion-item-group>
    </ng-container>
  </ion-list>
</ion-content>
