diary-page {

  ion-note {
    font-size: 14px;
    align-self: flex-start;
    margin-top: 14px !important;
  }

  h2 {
    color: color($colors, 'secondary') !important;
  }


  ion-item-divider {
    text-align: center;
    padding-left: 8px !important;
    h2, span {
      color: color($colors, 'primary') !important;
    }
  }
}
