<modal>
  <!-- header for ng-content -->
  <ion-header>
    <ion-navbar color="primary">
      <ion-title>
        After Log
      </ion-title>
    </ion-navbar>
  </ion-header>

  <!-- content for ng-content -->
  <ion-content>
    <ion-list>
      <ion-list-header>
        Timing & Before Meal
        <button ion-button icon-only item-end clear item-button color="accent"><ion-icon name="information-circle" medium></ion-icon></button>
      </ion-list-header>
      <ion-item-divider>
        <ion-icon item-start ios="ios-attach" md="md-attach" color="secondary" *ngIf="!isMealAttached"></ion-icon>
        <ion-icon item-start ios="ios-checkmark-circle-outline" md="md-checkmark-circle" *ngIf="isMealAttached" color="secondary"></ion-icon>
        <ion-label>{{ isMealAttached ? 'Before Meal Log Attached' : 'Attach Before Meal Log'}}</ion-label>
        <!-- HORRENDOUS SOLUTION, I DONT KNOW HOW TO MANUALLY CONTROL TOGGLE -->
        <ion-toggle *ngIf="!isMealAttached && !toggle" checked="false" color="secondary" (ionChange)="beforeFormToggle()"></ion-toggle>
        <ion-toggle *ngIf="!isMealAttached && toggle" checked="false" color="secondary" (ionChange)="beforeFormToggle()"></ion-toggle>
        <ion-toggle *ngIf="isMealAttached" checked="true" color="secondary" (ionChange)="beforeFormToggle()"></ion-toggle>
      </ion-item-divider>
      <ion-item *ngIf="isMealAttached" color="secondary">
        <button ion-button outline item-end (click)="openBeforeLogAddOrEdit()" color="white">
          Edit
        </button>
        <button ion-button outline item-end (click)="presentBeforeMealPrompt()" color="white">
          Switch
        </button>
        <ion-icon item-start ios="ios-attach" md="md-attach" color="white"></ion-icon>
        <p *ngIf="form.date">{{form.date | date:'mediumDate'}}</p>
        <p *ngIf="form.date && form.time">{{form.date + 'T' + form.time | date:'shortTime'}}</p>
        <p *ngIf="form.type">{{form.type}}</p>
      </ion-item>
      <date-time *ngIf="!isMealAttached" (onTimeDateChange)="onTimeDateChange($event)" [time]="form.time" [date]="form.date"></date-time>
      <ion-item *ngIf="!isMealAttached">
        <ion-icon ios="ios-restaurant" md="md-restaurant" item-start color="secondary"></ion-icon>
        <ion-label>Meal</ion-label>
        <ion-select [(ngModel)]="form.mealType" interface="action-sheet">
          <ion-option value="Breakfast">Breakfast</ion-option>
          <ion-option value="Lunch">Lunch</ion-option>
          <ion-option value="Dinner">Dinner</ion-option>
          <ion-option value="Snack">Snack</ion-option>
        </ion-select>
      </ion-item>
      <ion-item detail-push *ngIf="!isMealAttached" (click)="openBeforeLogAddOrEdit()">
        <ion-icon ios="ios-create" md="md-create" item-start color="secondary"></ion-icon>
        <ion-label>Edit Before Log Details</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Physical Hunger
        <ion-note item-end color="secondary">{{form.hungerLevelAfter | hungerRange}}</ion-note>
      </ion-list-header>
      <range name="hungerLevelAfter" [min]="1" [max]="5" (onRangeChange)="onRangeChange($event)"></range>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Satisfaction Level
        <ion-note item-end color="secondary">{{form.satisfactionLevel | satisfactionRange }}</ion-note>
      </ion-list-header>
      <range name="satisfactionLevel" [min]="1" [max]="4" (onRangeChange)="onRangeChange($event)"></range>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Details
      </ion-list-header>
      <checkbox-trigger
        (onClick)="openEmotionsList($event)"
        ios="ios-happy"
        md="md-happy"
        title="Emotions"
        [items]="emotions">
      </checkbox-trigger>
      <checkbox-trigger
        (onClick)="openFoodsList($event)"
        ios="ios-nutrition"
        md="md-nutrition"
        title="Foods Consumed"
        [items]="foods">
      </checkbox-trigger>
      <checkbox-trigger
        (onClick)="openDistractionsList($event)"
        ios="ios-laptop"
        md="md-laptop"
        title="Distractions"
        [items]="distractions">>
      </checkbox-trigger>
      <detail-textarea title="Meal Notes" (onDescriptionChange)="onDescriptionChange($event)" [description]="form.mealDescription"></detail-textarea>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons start>
        <button ion-button icon-only (click)="dismissForm()">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="submitForm()">
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</modal>
