<ion-list>
  <ion-list-header>
    Timing
  </ion-list-header>
  <date-time (onTimeDateChange)="onTimeDateChange($event)" [date]="date" [time]="time"></date-time>
   <ion-item *ngIf="showMealType">
    <ion-icon ios="ios-restaurant" md="md-restaurant" item-start color="secondary"></ion-icon>
    <ion-label>Meal</ion-label>
    <ion-select (ionChange)="onMealTypeChange($event)" [(ngModel)]="type" interface="action-sheet">
      <ion-option value="Breakfast">Breakfast</ion-option>
      <ion-option value="Lunch">Lunch</ion-option>
      <ion-option value="Dinner">Dinner</ion-option>
      <ion-option value="Snack">Snack</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-list>
  <ion-list-header>
    Physical Hunger
    <ion-note item-end color="secondary">{{hungerLevel | hungerRange}}</ion-note>
  </ion-list-header>
  <range name="hungerLevel" min="1" max="5" [initialValue]="hungerLevel" (onRangeChange)="onRangeChange($event)"></range>
</ion-list>
<ion-list>
  <ion-list-header>
    Mental Hunger
    <ion-note item-end color="secondary">{{intensityLevel | cravingsRange }}</ion-note>
  </ion-list-header>
  <range name="intensityLevel" min="1" max="4" [initialValue]="intensityLevel" (onRangeChange)="onRangeChange($event)"></range>
</ion-list>
<ion-list>
  <ion-list-header>
    Details
  </ion-list-header>
  <checkbox-trigger
    (onClick)="openEmotionsList($event)"
    ios="ios-happy"
    md="md-happy"
    title="Emotions"
    [behaviorSubject]="emotionsBehaviorSubject">
  </checkbox-trigger>
  <checkbox-trigger
    (onClick)="openFoodsList($event)"
    ios="ios-nutrition"
    md="md-nutrition"
    title="Food Cravings"
    [behaviorSubject]="foodsBehaviorSubject">
  </checkbox-trigger>
  <detail-textarea title="Trigger Notes" (onDescriptionChange)="onDescriptionChange($event)" [triggerDescription]="triggerDescription"></detail-textarea>
</ion-list>
