<modal>
  <!-- header for ng-content -->
  <ion-header>
    <ion-navbar color="primary">
      <ion-buttons start>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        Meal
      </ion-title>
    </ion-navbar>
  </ion-header>

  <!-- content for ng-content -->
  <ion-content>
    <ion-list>
      <ion-list-header>
        Meal Timing
      </ion-list-header>
      <ion-item>
        <ion-icon ios="ios-restaurant" md="md-restaurant" item-start color="secondary"></ion-icon>
        <h4 *ngIf="meal.mealDate">{{meal.mealDate | date:'EEEE, MMM d'}}</h4>
        <p *ngIf="meal.mealDate && meal.mealTime">{{(meal.mealDate + 'T' + meal.mealTime) | date:'shortTime'}}</p>
        <p>{{meal.mealType}}</p>
      </ion-item>
    </ion-list>
    <log-view-section
      title="Before Meal"
      [progressData1]="{ title: 'Mental Hunger', description: meal.intensityLevel | cravingsRange, max: 4, current: meal.intensityLevel}"
      [progressData2]="{ title: 'Physical Hunger', description: meal.hungerLevelBefore | hungerRange, max: 5, current: meal.hungerLevelBefore}"
      [emotions]="meal.beforeEmotions"
      [foods]="meal.beforeFoods"
      descriptionTitle="Trigger Description"
      [description]="meal.triggerDescription"
    ></log-view-section>
    <log-view-section
      *ngIf="meal.completed === 1"
      title="After Meal"
      [progressData1]="{ title: 'Hunger Level', description: meal.hungerLevelAfter | hungerRange, max: 5, current: meal.hungerLevelAfter }"
      [progressData2]="{ title: 'Satisfaction Level', description: meal.satisfactionLevel | satisfactionRange, max: 4, current: meal.satisfactionLevel }"
      [emotions]="meal.afterEmotions"
      [foods]="meal.afterFoods"
      [distractions]="meal.distractions"
      descriptionTitle="Meal Description"
      [description]="meal.mealDescription"
    ></log-view-section>
  </ion-content>

  <!-- <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer> -->
</modal>
