progress-circles {
  .progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .progress-wrapper {
    text-align: center;
    width: 45%;
    margin: 5px;
    .progress-bar {
      position: relative;
    }
    .current {
      position: absolute;
      top: 50%;
      bottom: auto;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}
